<% include ../partials/header %>

    <div class="container text-center">
        <header class="jumbotron p-5 text-center">
            <h1><%= spot.name %></h1>
            <h5><%= spot.description %></h5>
        </header>

        <div class="card center">
            <img src="<%= spot.image %>" class="card-img-top" alt="<%= spot.name %>">
            <div class="card-body">
                <p class="card-text">
                    <% spot.reviews.forEach((review) => { %>
                        <p>"<%= review.text %>" - <%= review.author %></p>
                    <% }) %>
                </p>
                <a href="/spots/<%= spot._id %>/reviews/new" class="btn btn-primary">Add a Review</a>
            </div>
            
        </div>
    </div>

<% include ../partials/footer %>